<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Datos agregados</h1> 
      </div>
    <h2>matricula: <%= matricula%></h2>
    <h2>curso: <%= curso %></h2>
    <div class="container mt-3">
        <a href="index.html" class="btn btn-success bg-primary">regresar a inicio</a>
    </div>
</body>
<script>
    alert('<%= curso %>');
</script>
</html>